/* MARGINS */
.m-b-0 {margin-bottom: 0;}
.m-t-0 {margin-top: 0;}
.m-l-0 {margin-left: 0;}
.m-r-0 {margin-right: 0;}
.m-0 {margin: 0;}

/* PADDING */
.p-b-0 {padding-bottom: 0;}
.p-t-0 {padding-top: 0;}
.p-l-0 {padding-left: 0;}
.p-r-0 {padding-right: 0;}
.p-0 {padding: 0;}

/* TEXT */
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
