/* Three-column layout styles */
.three-col-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem 4rem; 
  align-items: end; 
  justify-content: center;
}

.three-col-layout > .section-subtitle {
  grid-column: 1/-1; 
  justify-self: center;
  margin: 0;
}

.three-col-layout > .col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.three-col-layout > .col > .image-masker-overlay {
  z-index: -1;
  width: 50%;
  max-width: 200px;
  align-self: center;
  margin-bottom: -40px;
}

@media (max-width: 768px) {
  .three-col-layout {
    grid-template-columns: 1fr; 
    gap: 1rem;
  }

  .three-col-layout > .section-subtitle {
    margin-left: 5px;
  }

  .three-col-layout > .section-subtitle,
  .three-col-layout > .col > .image-masker-overlay {
    align-self: flex-end;
    justify-self: flex-start;
  }

  .three-col-layout > .col:not(:last-child) {
    margin-bottom: 4rem;
  }
}
