/* AGENDA TIMELINE UTIL */
/* Remove default list styling */
.timeline-date {
  display: flex;
  flex-direction: column;
  /* position: sticky; */
  /* position: -webkit-sticky; */
  top: 15rem;
  z-index: 10;
}

.timeline-date > .day-number {
  font-size: var(--h3-fs);
  font-weight: var(--bold-font-weight);
}

.timeline-date > .day {
  margin-bottom: 10px;
  font-size: var(--h4-fs);
  color: var(--accent)
}

.timeline-date > .date {
  font-size: var(--h5-fs);
  color: var(--accent)
}


.agenda-list.desktop {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.agenda-list.mobile { display: none; }

.agenda-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1.5rem;
  align-items: baseline; 
  padding: 0.6rem 0;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.agenda-item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.agenda-time {
  text-align: right; 
  flex-shrink: 0;
}

.agenda-time time {
  font-family: monospace, serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
  display: block;
  letter-spacing: -0.5px;
}

/* --- THE CONTENT COLUMN --- */
.agenda-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-left: calc(var(--border-width)) solid var(--border); 
  padding-left: 1.5rem;
}

.agenda-item:hover .agenda-content {
  border-left-color: var(--accent-hover); 
}

.agenda-title {
  font-size: calc(var(--h4-fs)*0.9);
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}

.agenda-desc {
  font-size: 0.95rem;
  color: var(--text-light);
  margin: 0.25rem 0 0.5rem 0;
  line-height: 1.4;
}

.agenda-host {
  font-size: 1rem;
  margin: 0;
  color: var(--accent);
  font-style: italic;
  font-weight: 500;
}

.agenda-message {
  padding: 2rem;
  text-align: center;
  color: var(--text-light);
  font-style: italic;
  list-style: none;
}

.agenda-message.error {
  color: var(--code)
}

@media (max-width: 768px) {
  .agenda-list.desktop { display: none; }
  .agenda-list.mobile { display: block; }
}
